<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/styles.css">
  <title>
      Applicants Form
  </title>
</head>
<body>
  <div class="modal-container invisible">
    <p id="modal-title"></p>
    <div class="form-container">
      <form name="subs-form" id="subs-form">
        <div class="input-div">
          <label for="type">Full Name</label>
          <input type="text" id="name" name="Full Name" required="">
        </div>
        <div class="input-div">
          <label for="type">Email</label>
          <input type="text" id="email" name="Email">
        </div>
        <div class="input-div">
          <label for="type">Phone</label>
          <input type="text" id="phone" name="Phone-number" required="">
        </div>
        <div class="input-div">
          <label for="type">Birth Date</label>
          <input type="date" id="date" name="Birth Date" required="">
        </div>
        <div class="input-div">
          <label for="type">State</label>
          <input type="text" id="state" name="Availability" required="">
        </div>
        <input type="submit" id="subs-button" value="Save Applicant">
      </form>
    </div>
    <button type="button" class="modal-button">x</button>
  </div>
  <div class="flex-container">
    <div class="aside">
      <h1>
        MindSet
      </h1>
      <ul>
        <li>Profiles</li>
        <li>Reports</li>
        <li>
            <a href="./listApplicants.html">Applicants</a>
        </li>
        <li>Clients</li>
        <li>Postulations</li>
        <li>Psychologists</li>
        <li>Settings</li>
      </ul>
    </div>
    <div class="container-info">
      <h2>Applicants</h2>
      <div class="info">
        <h3>Applicant</h3>
        <ul class="info-title-ul">
            <li>
                <p class="title">Full Name</p>
            </li>
            <li>
                <p class="title">Email</p>
            </li>
            <li>
                <p class="title">Birth Date</p>
            </li>
            <li>
                <p class="title">Phone</p>
            </li>
            <li>
                <p class="title">State</p>
            </li>
        </ul>
        <div id="list-applicants">
        </div>
      <button class="add-button">+</button>
    </div>
  </div>
  <script src="../js/formApplicant.js"></script>
</body>
</html>