<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="../styles/reset.css"/>
        <link rel="stylesheet" type="text/css" href="../styles/styles.css"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title> MindSet </title>
    </head>
    <body>
        <header id="header">
            <div class="headerContent box1">
                <div class="logoMindset">
                    <h1>MindSet</h1>
                </div>
            </div>
            <div class="headerContent box2">
                <div class="section">
                    <span> Administrator</span>
                </div>
                <div class="logout">
                    <img alt="edit" src="../imgs/profile.png">
                </div>
            </div>
        </header>
        <main>
            <div class="container">
                <article class="aside">
                    <div class="list">
                        <ul>
                            <li>Administrators</li>
                            <li>Applicants</li>
                            <li>Clients</li>
                            <li>interviews</li>
                            <li>Positions</li>
                            <li>Psychologists</li>
                            <li>Profiles</li>
                            <li>Appointments</li>
                        </ul>
                    </div>
                </article>
                <article class="windowContent">
                    <div class="listContainer">
                        <form id="form">
                            <div class="formContainer">
                                <div class="columInpunts">
                                    <div class="fields">
                                        <label for="name">Full Name:</label>
                                        <input id="name" type="text" name="name" placeholder="Enter your name">
                                    </div>
                                    <div class="fields">
                                        <label for="email">Email:</label>
                                        <input id="email" type="email" name="email" placeholder="Write your email">
                                    </div>
                                    <div class="fields">
                                        <label for="password">password:</label>
                                        <input id="password" type="password" name="password" placeholder="Write your password">
                                    </div>
                                    <div class="fields">
                                        <label for="repeat-password">password:</label>
                                        <input id="repeat-password" type="password" name="repeat-password" placeholder="Confirm your password">
                                    </div>
                                </div>
                                <div class="columInpunts">
                                    <div class="fields">
                                        <label for="phone">Phone:</label>
                                        <input id="phone" type="text" name="Phone" placeholder="Enter your phone number">
                                    </div>
                                    <div class="fields">
                                        <label for="address">Address:</label>
                                        <input id="address" type="text" name="address" placeholder="Write your address">
                                    </div>
                                    <div class="fields">
                                        <label for="city">City:</label>
                                        <input id="city" type="text" name="city" placeholder="Write your city">
                                    </div>
                                    <div class="fields">
                                        <label for="country">Country:</label>
                                        <input id="country" type="text" name="country" placeholder="Write your country">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="save">
                        <button id="submit" type="submit">
                            Save changes
                        </button>
                    </div>
                </article>
            </div>
            <footer id="footer">
                <span>&copy; 2021 MindSet INC</span>
            </footer>
            <script src="../js/formAdmins.js"></script>
    </body>
        </main>
    </body>
</html>