<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="../styles/reset.css"/>
        <link rel="stylesheet" type="text/css" href="../styles/styles.css"/>
        <title> MindSet </title>
    </head>
    <body>
        <header id="header">
            <div class="headerContent box1">
                <div class="logoMindset">
                    <h1>MindSet</h1>
                </div>
            </div>
            <div class="headerContent box2">
                <div class="section">
                    <span> Applicants</span>
                </div>
                <div class="logout">
                    <span> Log Out</span>
                </div>
            </div>
        </header>
        <main>
            <div class="conteiner">
                <article class="aside">
                    <div class="list">
                        <ul>
                            <li>Profiles</li>
                            <li>Reports</li>
                            <li>Applicants</li>
                            <li>Clients</li>
                            <li>Positions</li>
                            <li>Psychologists</li>
                            <li>Settings</li>
                        </ul>
                    </div>
                </article>
                <article class="windowContent">
                    <div class="listContainer">
                        <h2>Applicant</h2>
                        <div class="listData">
                          <ul class="info-title-ul">
                            <li>
                              <p class="title">Full Name</p>
                            </li>
                            <li>
                              <p class="title">Birth</p>
                            </li>
                            <li>
                              <p class="title">Phone</p>
                            </li>
                            <li>
                              <p class="title">State</p>
                            </li>
                          </ul>
                          <div id="list-postulations">
                          </div>
                      </div>
                    </div>
                    <div class="addNew">
                        <button id="new">
                            NEW
                        </button>
                    </div>
                </article>
            </div>
            <footer id="footer">
                <span>&copy; 2021 MindSet Team</span>
            </footer>
            <script src="../js/listApplicant.js"></script>
        </main>
    </body>
</html>