<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/styles.css">
  <title>
      Profiles Form
  </title>
</head>
<body>
  <div class="modal-container invisible">
    <p id="modal-title"></p>
    <div class="form-container">
      <form name="subs-form" id="subs-form">
        <div class="input-div">
          <label for="type">Description</label>
          <input type="text" id="description" name="id-company" required="">
        </div>
        <div class="input-div">
          <label for="id-profile">Id Profile</label>
          <input type="text" id="id-profile" name="id-profile">
        </div>
        <input type="submit" id="subs-button" value="Save Changes">
        <input type="submit" id="delete-button" value="Delete Profile">
      </form>
    </div>
    <button type="button" class="modal-button">x</button>
  </div>
  <div class="flex-container">
    <div class="aside">
      <h1>
        MindSet
      </h1>
      <ul>
        <li>
            <a href="./listProfiles.html">Profiles</a>
        </li>
        <li>Reports</li>
        <li>Applicants</li>
        <li>Clients</li>
        <li>Postulations</li>
        <li>Psychologists</li>
        <li>Settings</li>
      </ul>
    </div>
    <div class="container-info">
      <h2>Profiles</h2>
      <div class="info">
        <h3>Profiles</h3>
        <ul class="info-title-ul">
            <li>
                <p class="title">Description</p>
            </li>
            <li>
                <p class="title">ID</p>
            </li>
        </ul>
        <div id="list-profiles">
        </div>
      <button class="add-button">+</button>
    </div>
  </div>
  <script src="../js/profilesList.js"></script>
</body>
</html>