*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
  padding: 0px;
}

img{
  width: 40px;
  padding: 10px;
}

ul li{
  list-style: none;
}

.flex-container{
  display: flex;
}

.container-info{
  width: 100%;
}

.aside{
  background-color: #232f3f;
  color: #fff;

}

.aside h1{
  font-size: 50px;
  border-bottom: 3px solid #434d57;
  padding:33px;
}

.aside ul{
  padding: 20px 0px 0px 40px;
}

.aside ul li{
  font-size: 20px;
  line-height: 60px;
}

h2{
  background-color: #fc6226;
  color: #fff;
  padding: 40px;
  font-size: 40px;
}

.info{
  font-size: 20px;
  margin: 60px;
  line-height: 50px;
  padding: 40px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);;
}

h3{
  font-size: 40px;
  padding: 5px 0px 10px 5px;
}

.info-title-ul{
  display: flex;
  border-bottom:2px solid #8f8f8f;
}

.info-title-ul li{
  width: 100%;
  text-align: center;
}

.info-title-ul li p{
  padding-top: 10px;
}

.title{
  color: #fc6226;
  font-size: 25px;
  padding-top: 30px;
  border-bottom:2px solid #8f8f8f;
}

.add-button{
  background-color: #fc6226;
  color: #fff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  font-size: 65px;
  margin-left: 90%;
  margin-bottom: 30px;
}

.input-div{
  color: #fff;
  width: 100%;
  margin-top: 20px;
}

.input-div label{
  margin: 15%;
}

input{
  width: 70%;
  margin-top: 10px;
  margin-bottom: 30px;
  display: block;
  margin: auto;
}

#description{
  padding: 20px 0px 20px 0px;
}

.modal-container{
	display: flex;
	flex-direction: column;
	background-color: #232f3f;
	position: fixed;
	width: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 20px;
	border: 2px #fff solid;
	padding: 30px;
}

.invisible{
	visibility: hidden;
}

.modal-button{
	width: 30px;
	height: 30px;
	background-color: #797485;
	color: #fff;
	position: absolute;
	top: 15px;
	right: 15px;
}

#subs-button{
  margin: auto;
  margin-top: 20px;
  background-color: #fc6226;
  color: #fff;
  padding: 10px 0px 10px 0px;
}
#confirm-button{
  margin: auto;
  margin-top: 20px;
  background-color: #fc6226;
  color: #fff;
  padding: 10px 0px 10px 0px;
}
#cancel-button{
  margin: auto;
  margin-top: 20px;
  background-color: #797485;
  color: #fff;
  padding: 10px 0px 10px 0px;
}

#modal-title{
	color: #fff;
	text-align: center;
	font-size: 3vh;
  padding-bottom: 10px;
	text-transform: uppercase;
}

#modal-message{
	font-size: 2vh;
	margin-top: 5%;
	color: #fff;
	text-align: center;
	line-height: 1.5;
}

.edit-modal{
  cursor: pointer;
}

.success{
  border: 2px solid green;
  border-radius: 7px;
  opacity: 1;
}
.error{
  border: 2px solid red;
  border-radius: 7px;
  opacity: 1;
}